body {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0;
}
nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  top: 0;
  position: -webkit-sticky;
}
li {
  float: left;
  padding: 15px;
  cursor: pointer;
}
li:hover {
  color: #b400d3;
  font-size: larger;
}
.container {
  margin: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 100%;
}
.slide-1 {
  background-color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-top: 20px;
}
.logo-name {
  font-weight: 900;
  color: #b400d3;
  font-size: 1.5rem;
}
.right {
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.generator-text {
  color: #b400d3;
}
.generator-text:hover {
  color: white;
}
h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 3rem;
  font-weight: 800;
}
.brief {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.first-page-button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  border-radius: 6px;
  color: white;
  background-color: #b400d3;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: rgba(213, 0, 249, 0.3) 0px 8px 16px;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
}
.first-page-button:hover {
  background-color: white;
  color: #b400d3;
  font-weight: 600;
  border: none;
}
.heading-p2 {
  margin: 0;
  padding-top: 50px;
}
.brief-2 {
  color: rgb(120, 144, 156);
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.1rem;
}
.first-two {
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: space-evenly;
}
.icon-left-first {
  text-align: center;
}
.icon-right-first {
  text-align: center;
}
.icon-left-second {
  text-align: center;
}
.icon-right-second {
  text-align: center;
}
h4 {
  font-size: 1.25rem;
}
.paragraph-text {
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(120, 144, 156);
  text-align: center;
  font-size: 1.1rem;
}
.icon-left-first .material-symbols-outlined {
  color: #b400d3;
  font-size: 50px;
  border-radius: 50%;
  padding: 1.5rem;
  background: #160019;
}
.icon-right-first .material-symbols-outlined {
  font-size: 50px;
  color: rgb(0, 230, 118);
  border-radius: 50%;
  padding: 1.5rem;
  background: #00170c;
}
.icon-left-second .material-symbols-outlined {
  font-size: 50px;
  border-radius: 50%;
  padding: 1.5rem;
  color: #ff1744;
  background: #1a0207;
}
.icon-right-second .material-symbols-outlined {
  font-size: 50px;
  border-radius: 50%;
  padding: 1.5rem;
  color: #00e5ff;
  background: #00171a;
}
