body {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0;
}
nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  top: 0;
  position: -webkit-sticky;
}
li {
  float: left;
  padding: 15px;
  cursor: pointer;
}
li:hover {
  color: #b400d3;
  font-size: larger;
}
.container {
  margin: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 100%;
}
.slide-1 {
  background-color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-top: 20px;
}
.logo-name {
  font-weight: 900;
  color: #b400d3;
  font-size: 1.5rem;
}
.right {
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.generator-text {
  color: #b400d3;
}
.generator-text:hover {
  color: white;
}
h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 3rem;
  font-weight: 800;
}
.brief {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.first-page-button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  border-radius: 6px;
  color: white;
  background-color: #b400d3;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: rgba(213, 0, 249, 0.3) 0px 8px 16px;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
}
.first-page-button:hover {
  background-color: white;
  color: #b400d3;
  font-weight: 600;
  border: none;
}
.heading-p2 {
  margin: 0;
  padding-top: 50px;
}
.brief-2 {
  color: rgb(120, 144, 156);
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.1rem;
}
.first-two {
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: space-evenly;
}
.icon-left-first {
  text-align: center;
}
.icon-right-first {
  text-align: center;
}
.icon-left-second {
  text-align: center;
}
.icon-right-second {
  text-align: center;
}
h4 {
  font-size: 1.25rem;
}
.paragraph-text {
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(120, 144, 156);
  text-align: center;
  font-size: 1.1rem;
}
.icon-left-first .material-symbols-outlined {
  color: #b400d3;
  font-size: 50px;
  border-radius: 50%;
  padding: 1.5rem;
  background: #160019;
}
.icon-right-first .material-symbols-outlined {
  font-size: 50px;
  color: rgb(0, 230, 118);
  border-radius: 50%;
  padding: 1.5rem;
  background: #00170c;
}
.icon-left-second .material-symbols-outlined {
  font-size: 50px;
  border-radius: 50%;
  padding: 1.5rem;
  color: #ff1744;
  background: #1a0207;
}
.icon-right-second .material-symbols-outlined {
  font-size: 50px;
  border-radius: 50%;
  padding: 1.5rem;
  color: #00e5ff;
  background: #00171a;
}
.text-pic {
  display: flex;
  margin-top: 96px;
  justify-content: space-evenly;
}
.text {
  margin-right: 10px;
}
.slideshow-container {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slideAnimation 16s infinite;
}
img {
  width: 550px;
  height: auto;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
}
.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 4s;
}
.slide:nth-child(3) {
  animation-delay: 8s;
}
.slide:nth-child(4) {
  animation-delay: 12s;
}
@keyframes slideAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.text-next {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  line-height: 1.6;
  font-weight: 700;

  color: #ffffff;
}
.text-paragraph {
  font-size: 1.2rem;
}
.video-button {
  padding: 15px 20px;
  box-shadow: 0 8px 16px rgba(236, 239, 241, 0.3);
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  color: black;
  transition: all 0.3s ease-in-out;
}
.video-button:hover {
  background-color: black;
  color: white;
  font-weight: 500;
}
.slide-2 {
  background: #11171a;
  padding-top: 9rem;
}
.price-heading {
  margin-top: 0;
  text-align: center;
  padding-top: 30px;
  font-size: 2.5rem;
  line-height: 1.5rem;
  font-weight: 800;
}
.price-text {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #eceff1;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 2.25rem 2rem;
}
.card-body {
  padding: 2.25rem;
  background: #263238;
  padding-top: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 15px;
}
.card-title-one {
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.price-card-one {
  color: #d500f9;
  font-size: 2.5rem;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;
  box-shadow: 0 8px 16px rgba(213, 0, 249, 0.3);
}
.card-text-one {
  margin-bottom: 1rem;
  font-size: 1.05rem;
  font-weight: 500;
  color: #78909c;
}
.card-paragraph-one {
  margin-bottom: 1rem;
  font-size: 1.05rem;
  font-weight: 500;
}
.card-button-one {
  box-shadow: 0 8px 16px rgba(213, 0, 249, 0.3);
  border: 2px solid transparent;
  padding: 15px 25px;
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: #b400d3;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.card-title-two {
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.price-card-two {
  color: #00c3d9;
  font-size: 2.5rem;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;
  box-shadow: 0 8px 16px rgba(0, 229, 255, 0.3);
}
.card-button-two {
  box-shadow: 0 8px 16px rgba(0, 229, 255, 0.3);
  border: 2px solid transparent;
  padding: 0.55rem 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #11171a;
  background-color: #00c3d9;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
}
.price-card-three {
  font-size: 2.5rem;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;
  box-shadow: 0 8px 16px rgba(213, 0, 249, 0.3);
  color: #d500f9;
}
.card-button-three {
  box-shadow: 0 8px 16px rgba(213, 0, 249, 0.3);
  border: 2px solid transparent;
  padding: 15px 25px;
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: #b400d3;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.text-grids-container {
  display: flex;
  justify-content: space-evenly;
}
.text-grid-two {
  color: #78909c;
}
.list-grid-two {
  color: #78909c;
}
.top {
  color: #78909c;
}
hr {
  width: 50%;
  color: #b400d3;
  background: linear-gradient(
    to right,
    rgba(213, 0, 249, 0.1) 0,
    #263238 50%,
    rgba(213, 0, 249, 0.1) 100%
  );
}
.trial-text {
  text-align: center;
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-size: 1.5rem;
}
.trial-paragraph {
  text-align: center;
  margin-bottom: 24px;
}
.button-trial {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 25px;
  border-radius: 10px;
  background: #b400d3;
  color: white;
  border: none;
  box-shadow: 0 8px 16px rgba(213, 0, 249, 0.3);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
